<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="My first web serviceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57603/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="My first web serviceSoap" contract="ServiceReference1.MyfirstwebserviceSoap"
                name="My first web serviceSoap" />
        </client>
    </system.serviceModel>
</configuration>